@tailwind base;
@tailwind components;
@tailwind utilities;

/* Kita paksa agar background selalu putih dan teks selalu hitam/gelap */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

/* Hapus bagian @media (prefers-color-scheme: dark) jika ada */